<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hg.jy">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.JYAndriodDemo">
        <activity
            android:name=".activity.dm006.ActivityDm006"
            android:exported="true" />
        <activity
            android:name=".activity.dm005.ActivityDm005"
            android:exported="true" />
        <activity
            android:name=".activity.dm004.ActivityDm004"
            android:exported="true" />
        <activity
            android:name=".activity.dm003.ActivityDm003"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>